# code editor settings
/.idea
/.vscode

# dependencies
/node_modules

# dotenv environment variables file
.env

# build / generate output
dist

# drizzle migrations
/src/drizzle/migrations/

# user uploaded files
/assets/uploads/foto_diri/*
/assets/uploads/foto_ktp/*
/assets/uploads/foto_profile/*
/assets/uploads/dokumen_pendukung/*
/assets/uploads/dokumen_proyeksi/*
/assets/uploads/brosur_produk/*
/assets/uploads/tanda_tangan/*
/assets/uploads/tanda_tangan_admin/*
/assets/uploads/bukti_pembayaran/*
/assets/uploads/laporan_keuangan/*
/assets/uploads/laporan_mutasi/*
/assets/uploads/bukti_transfer/*
/assets/uploads/dokumen_prospektus/*

# not ignore empty directories when have .gitkeep file
!/**/.gitkeep

# auth baileys
/auth_baileys